.navbar {
  height: 13vh;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 50%
  );
}
.navbar-logo-link-container {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.header-link-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-link-container {
    display: block;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
    background-color: transparent;
  }
}
.route-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: lightgrey;
}
.header-link {
  margin-left: 14px;
  font-weight: 400;
}

.header-link:hover {
  color: red;
  font-weight: 700;
}

.genre-option {
  background-color: #131313;
  margin-left: 14px;
  font-weight: 400;
  color: lightgray;
  padding-left: 15px;
}

.select-options {
  background-color: transparent;
  border: 1px solid lightgrey;
  color: lightgrey;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 1px;
}

.genre-label {
  padding-right: 5px;
  margin-right: 5px;
}

.select-options:hover {
  color: rgb(232, 38, 38);
  font-weight: 700;
}
.search-and-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-container {
  height: 22px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .search-container {
    height: 32px;
    margin-right: 12px;
  }
}
.search-input {
  height: 100%;
  width: 100px;
  background-color: rgb(39, 37, 37);
  color: #ffffff;
  border: none;
  outline: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: none;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .search-input {
    width: 200px;
    background-color: rgb(39, 37, 37);
    outline: 1px solid #ffffff;
  }
}
.search-button {
  height: 100%;
  width: 32px;
  background-color: transparent;
  color: lightgray;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .search-button {
    width: 44px;
  }
}
.avatar-image {
  display: block;
  height: 34px;
  width: 34px;
}
@media screen and (min-width: 768px) {
  .avatar-image {
    display: block;
    height: 48px;
    width: 48px;
  }
}
.menu-button {
  display: block;
  background-color: transparent;
  color: lightgrey;
  border: none;
  font-size: 24px;
}

.menu-buttons {
  display: block;
  background-color: transparent;
  color: grey;
  border: none;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.arrow-down:hover {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}
.arrow-down:hover + .menu-link-container {
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0px;
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: rgb(39, 37, 37);
  width: 19vw;
  position: absolute;
  left: 78vw;
  top: 6vh;
  border-radius: 10px;
  outline: 0px solid grey;
  font-size: 8px;
}
.menu-link-container {
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0px;
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: rgb(39, 37, 37);
  width: 19vw;
  position: absolute;
  left: 78vw;
  top: 6vh;
  border-radius: 10px;
  outline: 0px solid grey;
  font-size: 8px;
}

@media screen and (min-width: 768px) {
  .arrow-down:hover {
    transform: rotate(180deg);
  }
}

.menu-link-container:hover {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-link-container {
    display: block;
    width: 8vw;
    font-size: 14px;
    left: 84vw;
  }
}

.menu-link {
  color: lightgrey;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 26px;
  padding-left: 8px;
  margin-right: 8px;
  font-weight: 700;
}

.home {
  display: block;
}

@media screen and (min-width: 768px) {
  .home {
    display: none;
  }
}

.popular {
  display: block;
}

@media screen and (min-width: 768px) {
  .popular {
    display: none;
  }
}

.mylist {
  display: block;
}

@media screen and (min-width: 768px) {
  .mylist {
    display: none;
  }
}

.logout-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  color: lightgrey;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding-left: 7px;
}
.selected {
  font-weight: 600;
}
.website-logo {
  height: 40px;
  width: 150px;
  opacity: 1;
}
